#Loadanimation {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 0px;
  top: 0px;
}

#Loadanimation-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#Loadanimation-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

.xccx_object {
  border-radius: 50%;
  position: absolute;
  border-left: 5px solid #87CEFA;
  border-right: 5px solid #FFC0CB;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  animation: animate 2.5s infinite;
}

#xccx_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#xccx_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  animation-delay: 0.1s;
}

#xccx_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  animation-delay: 0.2s;
}

#xccx_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  animation-delay: 0.3s;
}

@keyframes animate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}